@font-face {
  font-family:"Montserrat Medium";
  src:url("../fonts/FontsFree-Net-Montserrat-Medium.ttf") format("woff"),
  url("../fonts/FontsFree-Net-Montserrat-Medium.ttf") format("opentype"),
  url("../fonts/FontsFree-Net-Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family:"Fat Frank";
  src:url("../fonts/Fat Frank/FatFrank-Regular.otf") format("woff"),
  url("../fonts/Fat Frank/FatFrank-Regular.otf") format("opentype"),
  url("../fonts/Fat Frank/FatFrank-Regular.otf") format("truetype");
}


html, body, div {
  font-family: 'Montserrat Medium';
}