div.container.navbar {
  max-width: 100%;
  width: 100%;
  padding: 16px 120px;
}
.navbar .dropdown-menu {
  top:54px;
  right: 0px;
  min-width: 24rem;
  left: auto;
  padding: 2rem !important;
}

.navbar .dropdown-menu label {
  font-size: 14px !important;
}

.navbar .dropdown-menu h6 {
  font-weight: bold;
}
.navbar .dropdown-menu .form-group input.form-control {
  border-radius: 20px;
}
.navbar .dropdown-menu button {
  margin-top: 1.5rem;
  width: 100%;
  border-radius: 1.5rem;
}
.navbar .dropdown-menu .notice label {
  font-size: 12px;
}