/********* Min Navbar *********/
.min_navbar {
  background: black;
  padding: 5px 0;
}
.min_navbar .online_status {
  width: 10px;
  height: 10px;
  background: #07812c;
  border-radius: 50%;
}
.min_navbar .divider {
  border-left: 1px solid white;
  height: 12px;
  margin: 0 5px;
}
.min_navbar .text {
  font-size: 13px;
  color: white;
}
.min_navbar .active {
  text-decoration: underline;
  text-underline-offset: 3px;
}

/******** Navbar **********/
.navbar {
  padding: 25px 0;
}
.navbar_boxShadow {
  box-shadow: 0px 2px 3px rgb(0 0 0 / 13%);
}
.navbar .logo {
  width: 280px;
}
.navbar .navbar-toggler {
  display: none;
}
.navbar .toolbar {
  margin-bottom: -10px;
}
.navbar .mobile-toolbar {
  display: none;
}
.navbar .search {
  width: 210px;
  border: 1px solid #c7b37c;
  padding: 0px 10px;
  margin-right: 10px;
}
.navbar .search img {
  width: 12px;
  height: 12px;
  margin-right: 10px;
}
.navbar .search input {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  margin-bottom: 1px;
  font-size: 15px;
  font-weight: 400;
  color: #aeacaa;
}
.navbar .search input::placeholder {
  font-size: 13px;
}
.navbar .reserveren_btn {
  border: none;
  outline: none;
  width: 210px;
  height: 32px;
  background-color: #c7b37c;
  color: white;
  font-size: 13px;
  margin-bottom: -1px;
}
.navbar .reserveren_btn img {
  width: 17px;
  height: 12px;
  margin-right: 8px;
}
.navbar a {
  font-size: 13px;
  text-decoration: none;
  color: #414141;
  margin-left: 30px;
}
.navbar .mobile-navbars {
  display: none;
}
.navbar nav {
  padding: 0 !important;
  margin-top: 50px;
}
.navbar nav .item {
  width: 48%;
}

/********* Header *********/
.header {
  background-image: url("../images/Laag\ 2.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 370px;
  padding: 50px 0;
}
.header .title {
  background-color: #c0a869;
  padding: 10px 15px 10px 30px;
  font-size: 17px;
  color: white;
  width: 350px;
}
.header .commar {
  position: relative;
  display: flex;
  justify-content: end;
  margin-right: 25px;
  margin-top: 60px;
}
.header .commar img {
  width: 260px;
}
.header .details {
  position: absolute;
  top: 70px;
  right: 35px;
  text-align: center;
}
.header .details .text {
  font-size: 14px;
  color: white;
}
.header .details strong {
  font-size: 14px;
  color: white;
}

/********* Item Field *********/
.sections {
  padding: 40px 20px;
}
.sections .text {
  padding: 0 30px;
  font-size: 14px;
  color: #524d4d;
}
.sections .text a {
  font-size: 14px;
  font-weight: 700;
  color: black;
  text-decoration: underline;
}
.sections .item {
  background-color: #e7e0cb;
  height: 300px;
  overflow-y: auto;
  padding: 20px 15px;
  margin: 10px 0;
  border-bottom-left-radius: 35px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}
.sections .item img {
  width: 25px;
  height: 25px;
}
.sections .item strong {
  text-align: center;
  font-size: 15px;
  color: black;
  margin-top: 10px;
}
.sections .item .text {
  font-size: 14px;
  color: black;
  text-align: center;
  word-break: break-all;
  padding: 0;
}

/********** OnzePromoties *********/
.onzePromoties {
  padding: 30px 0 60px 0;
}
.onzePromoties .title {
  text-align: center;
  font-size: 18px;
  color: black;
  font-weight: 700;
  margin-bottom: 35px;
}
.onzePromoties .item  img {
  width: 100px;
  height: 100px;
}
.onzePromoties .item .type {
  margin-top: 40px;
  font-size: 13px;
  color: #212121;
}
.onzePromoties .item .name {
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  color: black;
}
.onzePromoties .item .offPrice {
  margin-top: 5px;
  font-size: 13px;
  color: #272727;
  font-weight: 500;
  text-decoration: line-through;
  text-decoration-color: #474747;
  text-decoration-thickness: 1.2px;
}
.onzePromoties .item .price {
  font-size: 13px;
  font-weight: 700;
  color: black;
  margin-top: 3px;
}
.onzePromoties .item button {
  width: 120px;
  height: 30px;
  border: 1px solid #bda868;
  background: none;
  outline: none;
  font-size: 13px;
  font-weight: 600;
  margin-top: 30px;
}

/********** Verschil *********/
.verschil {
  background-color: #ceb87c;
  padding: 40px 0;
}
.verschil .title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 35px;
}
.verschil .item_field {
  width: 80%;
  margin: auto;
}
.verschil .item_field .item1 {

}
.verschil .item_field .item2 {
  margin-left: 60px;
}
.verschil .item1 .text,
.verschil .item2 .text  {
  font-size: 15px;
  color: white;
  margin-left: 5px;
}
.verschil .item1 i,
.verschil .item2 i {
  font-size: 14px;
  margin-top: 7px;
}

/********* Interessant *********/
.interessant {
  padding: 70px 0 80px 0;
}
.interessant .title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
.interessant .item {
  height: 500px;
}
.interessant .item .body img {
  width: 100%;
}
.interessant .item .body .title {
  font-size: 16px;
  width: 90%;
  font-weight: 700;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 5px;
  text-align: left;
}
.interessant .item .body .text {
  font-size: 14px;
  color: #666262;
  word-break: break-all;
  width: 90%;
  margin: auto;
}
.interessant .item button {
  width: 120px;
  height: 30px;
  border: 1px solid #bda868;
  background: none;
  outline: none;
  font-size: 13px;
  font-weight: 600;
}
.interessant .alle_btn {
  background-color: #cdb268;
  border: none;
  outline: none;
  font-size: 13px;
  font-weight: 700;
  color: white;
  width: 300px;
  height: 35px;
  margin-top: 70px;
}

/********** footer **********/
.footer {
  width: 100%;
  display: flex;
}
.footer .left {
  background-color: #c7b37c;
  width: 55%;
  padding: 40px 70px 40px 170px
}
.footer .left .body {
  display: flex;
  justify-content: space-between; 
}
.footer .left .info span {
  font-size: 14px;
  font-weight: 600;
  color: #303030;
}
.footer .left a {
  font-size: 14px;
  font-weight: 600;
  color: #303030;
  text-decoration: none;
}
.footer .right {
  background-color: black;
  width: 45%;
  padding: 33px 50px;
}
.footer .left img {
  width: 240px;
}
.footer .right .title {
  font-size: 16px;
  color: white;
}
.footer .right input {
  width: 335px;
  outline: none;
  border: none;
  background-color: #4b4b4b;
  font-size: 14px;
  color: rgb(196, 196, 196);
  padding: 9px;
  margin: 20px 0 10px 0;
}
.footer .right input::placeholder {
  color: rgb(209, 209, 209);
  padding-left: 10px;
}
.footer .right .checkbox_field {
  margin: 0 0 22px 0;
  width: 335px;
}
.footer .right .checkbox_field input {
  width: 15px;
  height: 15px;
  margin-top: 3px;
}
.footer .right .checkbox_field span {
  font-size: 13px;
  color: white;
  margin-left: 10px;
  word-break: break-all;
  text-align: initial;
}
.footer .right button {
  border: none;
  outline: none;
  background-color: #c7b37c;
  color: black;
  font-size: 12px;
  font-weight: 700;
  padding: 8px 20px;
}

/********* Min footer ********/
.min_footer {
  background-color: black;
  padding: 10px 0;
}
.min_footer .body {
  width: 55%;
  text-align: center;
}
.min_footer .text {
  font-size: 12px;
  margin: auto;
  color: rgb(219, 219, 219);
  display: flex;
  justify-content: center;
  align-items: center;
}
.min_footer .text img {
  margin: 0 5px;
}
.min_footer .text li {
  margin: 0 6px;
}
.min_footer .text .li_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.padding-0 {
  padding: 0 0 !important;
}


/************ Media Query *************/
@media screen and (max-width: 1150px) {
  .footer .left {
    padding: 40px 70px 40px 110px;
  }
}
@media screen and (max-width: 1024px) {
  .footer .left {
    padding: 40px 40px 40px 50px;
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    padding: 25px 0;
  }
  .navbar .navbar-toggler {
    display: block;
  }
  .navbar .mobile-w-100 {
    width: 100%;
  }
  .navbar .toolbar {
    display: none !important;
  }
  .navbar .mobile-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar .navbars1 {
    display: none !important;
  }
  .navbar .mobile-navbars {
    display: flex;
    justify-content: space-between;
    align-items: none;
    padding: 10px 0;
  }
  .navbar nav {
    margin-top: 0px;
  }
  .navbar nav button span {
    color: black;
  }
  .header .commar img {
    width: 240px;
  }
  .header .details {
    top: 65px;
    right: 25px;
  }
  .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .footer .left {
    width: 100%;
  }
  .footer .left .body {
    max-width: 700px;
    margin: auto;
  }
  .footer .right {
    width: 100%;
  }
  .footer .right .body {
    max-width: 700px;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .verschil .item_field .item2 {
    margin-left: 0;
  }
  .interessant .item {
    height: auto;
    margin: 10px 0;
  }
  .interessant .item button {
    margin-top: 20px;
  }
  .footer .left .body {
    max-width: 540px;
    margin: auto;
  }
  .footer .right .body {
    max-width: 540px;
    margin: auto;
  }
}

@media screen and (max-width: 576px) {
  .navbar .logo {
    width: 230px;
  }
  .sections .item {
    height: auto;
    padding: 20px 15px;
  }
  .onzePromoties {
    padding: 0px 0 30px 0;
  }
  .onzePromoties .item {
    margin: 10px 0;
  }
  .onzePromoties .item .type {
    margin-top: 15px;
  }
  .footer .left {
    padding: 30px 15px;
  }
  .footer .left .body {
    max-width: 100%;
    margin: auto;
  }
  .footer .right .body {
    max-width: 100%;
    margin: auto;
  }
  .footer .right {
    padding: 30px 15px;
  }
  .min_footer .text {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .navbar .mobile-toolbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .navbar .search {
    width: 100%;
    margin-right: 0px;
  }
  .navbar .reserveren_btn {
    width: 100%;
    height: 32px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .sections {
    padding: 30px 0px;
  }
  .sections .text {
    padding: 0 0px;
  }
  .header .commar {
    margin-right: 15px;
    margin-top: 85px;
  }
  .header .commar img {
    width: 210px;
  }
  .header .details {
    top: 42px;
    right: 14px;
  }
  .header .details .text {
    font-size: 13px;
    width: 154px;
  }
  .header .title {
    padding: 7px 0px 7px 15px;
    font-size: 14px;
    width: 275px;
  }
  .verschil .item_field {
    width: 100%;
  }
  .verschil .title {
    margin-bottom: 15px;
  }
  .footer .left img {
    width: 200px;
  }
  .min_footer .text {
    display: flex;
    flex-direction: row;
  }
  .min_footer .text .li_item {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

@media screen and (max-width: 400px) {
  .footer .right input {
    width: 100%;
  }
  .footer .right .checkbox_field {
    margin: 0 0 22px 0;
    width: 100%;
  }
}