/********* Navbar *********/
.navbar {
  padding: 15px 0px;
}
.navbar .height1 {
  /* height: 95px; */
}
.navbar .search {
  height: 40px;
  border: none;
  border-radius: 35px;
  background-color: #F5F5F5;
  width: 100%;
  padding: 0 20px;
}
.navbar .search input {
 border: none;
 outline: none;
 background-color: #F5F5F5;
 margin-top: -3px;
 font-size: 13px;
 color: rgb(75, 75, 75);
}
.navbar .search input::placeholder {
  font-size: 13px;
  color: #4D5250;
  font-family: 'Montserrat Medium';
}
.navbar .search img {
  width: 13px;
  margin-top: 3px;
}
.navbar .user_cart {
  padding: 18px;
}
.navbar .user_cart i {
  margin: 0 5px;
  font-size: 17px;
  color: #4D5250;
}

.navbar .user_cart button:hover, button:active {
  background: #E1F6ED;
}
.navbar .navbars {
  /* width: 40%; */
  gap: 80px;
}
.navbar .navbars .item {
  font-size: 14px;
  padding: 24px 0px;
}
.navbar .navbars .item.active {
  border-top: 2px solid #2FAC73;
}
.navbar .navbars .item .border_top{
  border-top: 2px solid #2FAC73;
  width: 94%;
  margin: auto;
  margin-bottom: 13px;
}
.navbar .navbars1 {
  display: none;
}
.navbar .logo img {
  width: 90px;
}

/********* Header *********/
.header {
  background-image: url("../images/Header.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 670px;

}
.header .rectangle {
  position: relative;
  width: 42%;
  padding-top: 240px;
}
.header .rectangle img {
  width: 100%;
}
.header .rectangle .body {
  position: absolute;
  bottom: 19%;
  left: 120px;
}
.header .rectangle .body strong {
  color: #FFFFFF;
  font-family: 'Fat Frank';
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 25px;
}
.header .rectangle .body button {
  width: 150px;
  height: 35px;
  background: none;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  box-shadow: 0 0 6px 0 rgba(228,228,228,0.5);
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
}


/******** overKarri ********/
.overKarri {
  padding: 150px 0;
}
.overKarri .overKarri_field {
  width: 85%;
}
.overKarri .text {
  color: #585c5a;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  word-break: break-all;
}
.overKarri button {
  margin-top: 25px;
  border-radius: 30px;
  background-color: #2FAC73;
  border: none;
  outline: none;
  width: 95px;
  height: 35px;
  font-size: 13px;
  color: #FFFFFF;
  font-family: Montserrat;
}
.overKarri .items {
  margin: 100px 0px;
  border: 1px solid #DDE6E2;
  border-radius: 7px;
}
.overKarri .items .item {
  padding-top: 50px;
  height: 170px;
  border-bottom: 1px solid #DDE6E2;
  border-right: 1px solid #DDE6E2;
}
.overKarri .items .item img {
  width: 45px;
  height: 35px;
}
.overKarri .items .item span {
  color: #2FAC73;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  margin-top: 10px;
  text-align: center;
}

/********* onzeWorking ***********/
.onzeWerking {
  background-color:#2FAC73;
  height: 1000px;
}
.onzeWerking .body img {
  margin-top: -90px;
  width: 86%;
}
.onzeWerking .body .details {
  width: 80%;
  margin: auto;
  margin-top: -50px;
}
.onzeWerking .body .details .title {
  color: #404342;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0;
}
.onzeWerking .body .details .text {
  color: #4a4e4c;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  margin-top: 30px;
}
.onzeWerking .body .details button {
  margin-top: 30px;
  border-radius: 30px;
  background-color: #2FAC73;
  border: 1px solid white;
  font-size: 13px;
  width: 110px;
  height: 33px;
  color: #FFFFFF;
  font-family: Montserrat;
}

/********* Service **********/
.service {
  margin-top: -590px;
  padding: 0 50px;
}
.service .service_title {
  margin-top: 110px;
  color: #FFFFFF;
  font-family: FatFrank;
  font-size: 45px;
  font-weight: 900;
  letter-spacing: 0;
}
.service .service_text {
  margin: 5px;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 14px;
  width: 36%;
  word-break: break-all;
}
.service .item1 {
  width: 90%;
  position: relative;
}
.service .item2 {
  margin-top: 185px;
  width: 90%;
  position: relative;
}
.service .item3 {
  margin-top: -55px;
  width: 90%;
  position: relative;
}
.service .item4 {
  margin-top: 100px;
  width: 90%;
  position: relative;
}
.service .item1 img,
.service .item2 img,
.service .item3 img,
.service .item4 img {
  width: 100%;
}
.service .item1 .numberImg,
.service .item2 .numberImg,
.service .item3 .numberImg,
.service .item4 .numberImg {
  position: absolute;
  top: -10px;
  left: 35px;
  width: 80px;
  height: 80px;
}
.service .item1 .text,
.service .item2 .text,
.service .item3 .text,
.service .item4 .text {
  padding: 35px 50px;
  color: #2FAC73;
  word-break: break-all;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0;
}

/********** Recente production **********/
.recenteProduction {
  padding: 70px 0;
}
.recenteProduction .title {
  color: #1C211F;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
}
.recenteProduction button {
  border: none;
  outline: none;
  width: 170px;
  height: 40px;
  border-radius: 30px;
  background-color: #2FAC73;
  box-shadow: 0 0 6px 0 rgb(228 228 228 / 50%);
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
}
.recenteProduction .item {
  background-color: #F5F5F5;
  padding: 30px;
}
.recenteProduction .item .type {
  color: #2FAC73;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 600;
  margin: 30px 0 15px 0;
}
.recenteProduction .item .details {
  color: #3d3e3e;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 600;
}