/********* Header **********/
.header {
  background-image: url("../images/header_bg1.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 290px;
  position: relative;
  border-bottom: 7px solid #fdc32d;
  /* z-index: -10; */
}
.header .toolbar {
  padding: 15px 0;
}
.header .toolbar .logo {
  width: 65px;
  height: 40px;
}
.header .toolbar .searchbar {
  display: flex;
  align-items: center;
}
.header .toolbar .searchbar input {
  border: none;
  border-end-end-radius: 3px;
  border-start-end-radius: 3px;
  outline: none;
  font-size: 13px;
  color: #333333;
  width: 200px;
  height: 35px;
}
.header .toolbar .searchbar input::placeholder {
  text-align: center;
  font-size: 12px;
  color: #78797b;
}
.header .toolbar .searchbar .search_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 35px;
  height: 35px;
  margin-right: -1px;
  border-end-start-radius: 3px;
  border-start-start-radius: 3px;
}
.header .toolbar .searchbar i {
  color: #acadb0;
  font-size: 14px;
}
.header .searchbar1 input::placeholder {
  margin-bottom: 10px;
  text-align: center;
  padding-bottom: 20px;
  font-size: 12px;
  color: #78797b
}
.header .searchbar1 .search_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 35.5px;
  height: 35.5px;
  margin-right: -1px;
  border-end-start-radius: 3px;
  border-start-start-radius: 3px;
}
.header .searchbar1 i {
  color: #acadb0;
  font-size: 14px;
}
.header .searchbar1 {
  display: none;
}
.header .toolbar .field1 {
  width: 43%;
}
.header .toolbar .field2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}
.header .toolbar .icon_field i {
  font-size: 15px;
  color: white;
  margin: 0 10px;
}
.header .toolbar .lang_field button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  width: 35px;
  font-size: 13px;
  font-weight: 700;
  background-color: #fdc32d;
  border-radius: 3px;
}
.header .toolbar .lang_body {
  min-width: 37px !important;
  background-color: #b88a11;
  margin-top: -3px;
  margin-left: -1px;
}
.header .toolbar .lang_body .lang_item {
  font-size: 13px;
  color: white;
  text-align: center;
  padding: 0 !important;
}
.header .navbars {
  padding: 10px 5px;
}
.header .navbars a {
  font-size: 13px;
  color: white;
  text-decoration: none;
}
.header .header_img {
  position: absolute;
  top: 168px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: -15px;
  z-index: 10;
}
.zIndex-1000 {
  z-index: 1000;
}
.header .header_img img {
  width: 100%;
  height: 323px;
}

/********** products ***********/
.products {
  padding: 260px 0 70px 0;
}
.products .onze {
  padding: 0 12%;
}
.products .onze .title {
  text-align: center;
  color: black;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 35px;
}
.products .onze .item {
  margin: 5px 0;
}
.products .onze .item .item_body {
  width: 150px;
}
.products .onze .item .item_body .item_title {
  font-size: 12px;
  color: #78797b;
  text-align: left;
  margin-top: 15px;
}
.products .onze .item .item_body .details {
  font-size: 13px;
  color: black;
  font-weight: 600;
}
.products .onze .item .item_body .review {
  margin: 10px 0;
}

.products .onze .item .item_body .review i {
  font-size: 10px;
  color: #fdc32d;
}
.products .onze .item .item_body .review .review_value {
  font-size: 11px;
  margin-left: 5px;
  margin-bottom: 1.5px;
}
.products .onze .item .item_body .cart_fav {
  border: 1px solid #fdc32d;
}
.products .onze .item .item_body .cart_fav .cart {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #fdc32d;
  padding: 5px 2px;
  margin: -1px;
}
.products .onze .item .item_body .cart_fav .cart i {
  color: white;
  font-size: 13px;
  margin-top: 2px;
}
.products .onze .item .item_body .cart_fav .fav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  padding: 5px 2px;
}
.products .onze .item .item_body .cart_fav i {
  color: #fdc32d;
  margin-top: 2px;
}
.products .onze .item .item_body .price {
  font-size: 13px;
  color: rgb(116, 115, 115);
  text-decoration: line-through;
  font-weight: 400;
}
.products .onze .item .item_body .off_price {
  font-size: 13px;
  color: black;
  font-weight: 700;
}
.products .margin_t {
  margin-top: 50px;
}
/******* building ********/
.building  img {  
  width: 100%;
}
/******* waarom ********/
.waarom {
  padding: 50px 0 80px 0;
}
.waarom .item {
  margin: 5px 0;
}
.waarom .waarom_title {
  text-align: center;
  color: black;
  font-size: 22px;
  font-weight: 700;
}
.waarom .details {
  word-break: break-all;
  font-size: 14px;
  margin-top: 3rem;
}
.waarom .icon strong {
  font-size: 14px;
}
/********** footer **********/
.footer {
  width: 100%;
  display: flex;
}
.footer .left {
  display: flex;
  justify-content: end; 
  background-color: #fdc32d;
  width: 55%;
  padding: 20px 40px;
}
.footer .right {
  background-color: black;
  width: 45%;
  padding: 33px 50px;
}
.footer .logo {
  margin: 20px 10px 0 0;
}
.footer .logo img {
  width: 80%;
}
.footer .navbar a {
  font-size: 14px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  margin: 2px 0;
}
.footer .right .title {
  font-size: 16px;
  color: white;
}
.footer .right input {
  width: 335px;
  outline: none;
  border: none;
  background-color: #4e4e4e;
  font-size: 14px;
  color: rgb(196, 196, 196);
  padding: 7px;
  margin: 20px 0 10px 0;
}
.footer .right input::placeholder {
  color: rgb(209, 209, 209);
  padding-left: 10px;
}
.footer .right .checkbox_field {
  margin: 0 0 22px 0;
  width: 335px;
}
.footer .right .checkbox_field input {
  width: 15px;
  height: 15px;
  margin-top: 3px;
}
.footer .right .checkbox_field span {
  font-size: 13px;
  color: white;
  margin-left: 10px;
  word-break: break-all;
  text-align: initial;
}
.footer .right button {
  border: none;
  outline: none;
  background-color: #fdc32d;
  color: black;
  font-size: 12px;
  font-weight: 700;
  padding: 8px 20px;
}
/********* Min footer ********/
.footer_img img {
  width: 100%;
}
.min_footer {
  background-color: black;
  padding: 10px 0;
}
.min_footer .body {
  width: 55%;
  text-align: center;
}
.min_footer .text {
  font-size: 12px;
  margin: auto;
  color: rgb(219, 219, 219);
  display: flex;
  justify-content: center;
  align-items: center;
}
.min_footer .text img {
  margin: 0 5px;
}
.min_footer .text li {
  margin-left: 12px;
}
.min_footer .text .li_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbars2_display {
  display: none !important;
}

/************ Media Query *************/
@media screen and (max-width: 1028px) {
  .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .footer .left {
    display: flex;
    justify-content: center; 
    width: 100%;
    padding: 20px 40px;
  }
  .footer .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer .right .margin_auto {
    text-align: center;
  }
}

@media screen and (max-width: 998px) {
  .products {
    padding: 220px 0 70px 0;
  }
  .header .toolbar .field1 {
    width: 60%;
  }
  .header .header_img img {
    height: 280px;
  }
  .min_footer .body {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .header .navbars_bg {
    background-image: url("../images/header_bg1.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 15px;
  }  
  .header .toolbar .searchbar {
    display: none;
  }
  .header .searchbar1 {
    width: 50%;
    display: flex !important;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 1000;
  }
  .header .searchbar1 input {
    border: none;
    border-radius: 2px;
    outline: none;
    font-size: 13px;
    color: #333333;
    width: 100%;
    height: 35.5px;
  }
  .navbars1_display {
    display: none !important;
  }
  .navbars2_display {
    display: flex !important;
  }
  .navbars2_display .a_width {
    width: 110px;
  }
  .header .navbars2_display a {
    width: 60px;
    font-size: 13px;
    color: white;
    text-decoration: none;
    margin: 5px 0;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 260px;
  }
  .header .toolbar .field1 {
    width: 70%;
  }
  .header .header_img img {
    height: 230px;
  }
  .navbars2_display .item {
    width: 33.3%; 
  }
  .products {
    padding: 200px 0 70px 0;
  }
  .products .onze {
    padding: 0 8%;
  }
  .waarom .item {
    margin-bottom: 20px;
  }
  .waarom .details {
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .footer .left .margin_top {
    margin-top: -45px;
  }
  .header .toolbar .field1 {
    width: 0%;
  }
  .header .toolbar .field2 {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
  }
  .header .header_img {
    top: 160px;
}
  .header .header_img img {
    height: 200px;
  }
  .products {
    padding: 150px 0 70px 0;
  }
  .products .onze {
    padding: 0 0;
  }
  .products .onze .item {
    width: 50%;
  }
  .footer .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 100%;
    padding: 20px 10px;
  }
}
@media screen and (max-width: 525px) {
  .min_footer .text .li_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media screen and (max-width: 490px) {
  .header {
    height: 220px;
  }
  .header .header_img {
    top: 160px;
  }
  .header .header_img img {
    height: 160px;
  }
  .products {
    padding: 140px 0 70px 0;
  }
}
@media screen and (max-width: 380px) {
  .header .header_img {
    width: 99%;
  }
  .footer .right .checkbox_field span {
    width: 250px;
  }
  .footer .right input {
    width: 310px;
  }.footer .right .checkbox_field {
    width: 310px;
  }
}